.form-group {
    position: relative;
    margin-bottom: 2rem;
}

input {
    width: 100%;
    height: 45px;
    padding: 0.75rem 0.2rem;
    border: none;
    border-bottom: 1px solid #969696;
    background: transparent;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    position: relative;
    z-index: 1;
    color: black;
}

::placeholder {
    opacity: 0;
}

label {
    position: absolute;
    left: 0;
    top: 1rem;
    font-size: 12px;
    font-weight: 500;
    color: rgba(22, 22, 22, 0.6);
    pointer-events: none;
    transition: 0.2s ease all;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
    color: #161616;
}

.error-msg {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 5px;
    font-size: 0.75rem;
    color: #FF3030;
}

input.error-input {
    border-bottom-color: #FF3030;
}

.form-row {
	display: flex;
	width: 100%;
	margin: 0 -8px;
	flex-wrap: wrap;
}

.form-row .form-group {
	flex: 0 0 calc(50% - 16px);
	margin: 0 8px 2rem;
}

@media (max-width: 768px) {
	.form-row {
		margin: 0;
	}

	.form-row .form-group {
		flex: 0 0 100%;
		margin: 0 0 2rem;
	}
}

select {
    width: 100%;
    height: 45px;
    padding: 0.75rem 0.2rem;
    border: none;
    border-bottom: 1px solid #969696;
    background: transparent;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    color: #161616;
    position: relative;
    z-index: 1;
    appearance: none; /* removes default arrow */
}

select option[value=""] {
    color: rgba(22, 22, 22, 0.4);
}

select:focus + label,
select:has(option:checked:not([value=""])) + label {
    top: -6px;
    font-size: 12px;
    color: #161616;
}

select.error-input {
    border-bottom-color: #FF3030;
}
