.form-group {
    position: relative;
    margin-bottom: 2rem;
}

input {
    width: 100%;
    height: 45px;
    padding: 0.75rem 0.2rem;
    border: none;
    border-bottom: 1px solid #969696;
    background: transparent;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    position: relative;
    z-index: 1;
}

::placeholder {
    opacity: 0;
}

label {
    position: absolute;
    left: 0;
    top: 1rem;
    font-size: 12px;
    font-weight: 500;
    /*color: rgba(22, 22, 22, 0.6);*/
    color: red;
    pointer-events: none;
    transition: 0.2s ease all;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
    /*color: #161616;*/
    color: blue;
}

.error-msg {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 5px;
    font-size: 0.75rem;
    color: #FF3030;
}

input.error-input {
    border-bottom-color: #FF3030;
}