@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #ffffff;
	--black: #000000;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #ffffff;
	}
}

body {
	background: var(--background);
	color: var(--black);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 16px;
}

.form-row {
	display: flex;
	width: 100%;
	margin: 0 -8px;
	flex-wrap: wrap;
}

.form-row .form-group {
	flex: 0 0 calc(50% - 16px);
	margin: 0 8px 2rem;
}

@media (max-width: 768px) {
	.form-row {
		margin: 0;
	}

	.form-row .form-group {
		flex: 0 0 100%;
		margin: 0 0 2rem;
	}
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-text-fill-color: #000 !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    background-color: transparent !important;
    transition: background-color 9999s ease-in-out 0s;
}